### Question 1

In [ ]:
SELECT * From CITY

## Question 2

In [ ]:
SELECT * FROM CITY 
WHERE ID = '1661';

### QUESTION 3

In [ ]:
SELECT * FROM CITY
WHERE COUNTRYCODE ='JPN';

### Question 4

In [ ]:
SELECT NAME FROM CITY
WHERE COUNTRYCODE ='JPN';

## Question 5

In [ ]:
SELECT CITY,STATE FROM STATION;